/*font-family: 'Arimo', sans-serif;
font-family: 'Fira Sans Condensed', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Fira+Sans+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
:root{
    button-color1:#DA1D1D;
    button-color2:#B8B2B6;
    spacing:10px;
    font-family: 'Fira Sans Condensed', sans-serif;
}
body{
  margin:0;
    background: linear-gradient(-180deg,#B8B2B6,black,black);
    height: 100vh;
}
.top-logo{
    position:fixed;
    top:50px;
    left:15px;
    color: #DA1D1D;
    display:inline-block;
    border:5px solid white;
    padding:0 10px 0;
    border-radius:5px;
    border-top-color:#B8B2B6;
}
.member{
    color:gray;
    text-align: left;
    /*margin-bottom:var(--spacing);*/
}
.help{
    font-weight: bold;
    font-size:14px;
}
.col-md-6{
    border:none;
    border-radius:5px;
    text-align: center;
    padding:50px;
    width:400px;
    background:white;
    position: fixed;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}
.media-content{
  text-align: center;
}
.logo {
    margin-bottom:20px;
    text-shadow: 1px 1px 0 aliceblue;
    font-size: 14px;
  }
  @keyframes moveFrontLeft {
    0% {
      opacity: 0;
      transform: translateX(-30px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
h2{
    font-size:25px;
    font-weight:700;
    animation-name: moveFrontLeft;
    animation-duration: 2s;
    margin-bottom:20px;
}
.form-control{
    margin-bottom:10px;
}
.btn:hover,.button.is-sparta:hover{ background:black; color:white;
}
.join{
    text-align: left;
    font-size:15px;
    color:gray;
}
.button.is-sparta{
  border-radius:4px;
  width:45px;
}
#check{
    color:gray;
    font-size:12px;
    height:100%;
}
#check:hover{
    color:white;
}