/*font-family: 'Arimo', sans-serif;
font-family: 'Fira Sans Condensed', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Fira+Sans+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
    button-color1: #DA1D1D;
    button-color2: #B8B2B6;
    spacing: 10px;
    font-family: 'Fira Sans Condensed', sans-serif;
}

* {
    margin: 0 auto;
    font-family: 'Arimo', sans-serif;
}

body {
    margin: 0 auto;
    /*background: linear-gradient(-180deg,#B8B2B6,black,black);*/
    width: 100vw;
}

h3 {
    font-family: 'Arimo', sans-serif;
    z-index: 100;
    color: black;
}

.top-banner {
    border-bottom: 10px solid black;
    position: fixed;
    height: 70px;
    background: black;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.top-banner.main {
    height: 95px;
    background: white;
    text-align: center;
}

.top-logo {
    margin-top: 20px;
    /*position:fixed;
    top:25px;
    left:15px;*/
    color: #DA1D1D;
    display: inline-block;
    border: 5px solid white;
    padding: 0 10px 0;
    border-radius: 5px;
    border-top-color: #B8B2B6;
    border-bottom-color: #B8B2B6;
}

.top-logo.main, .top-logo.mypage {
    font-size: 35px;
    top: 25px;
    width: 200px;
    left: calc(58% - 200px);
    display: inline-block;
    padding: 0 10px 0;
    border-radius: 5px;
    color: black;
    border: 5px solid white;
    margin: 0px 10px 0px 0px;
    /*border-left-color:gray;
    border-right-color:gray; */
}

.top-logo.main:hover {
    color: #DA1D1D;
}

button {
    margin: 20px 10px 10px 20px;
    width: 200px;
}

/*.help{*/
/*    font-weight: bold;*/
/*    font-size:14px;*/
/*}*/
.col-md-6 {
    border: none;
    border-radius: 5px;
    text-align: center;
    padding: 50px;
    width: 400px;
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo {
    margin-bottom: 20px;
    text-shadow: 1px 1px 0 aliceblue;
    font-size: 14px;
}

@keyframes moveFrontLeft {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

h2 {
    font-size: 25px;
    font-weight: 700;
    animation-name: moveFrontLeft;
    animation-duration: 2s;
    margin-bottom: 20px;
}

.btns {
    position: relative;
    height: 40px;
    margin-top: 45px;
    margin-left: 82%;
}

.logOut:hover, .mypage:hover, .homepage:hover {
    color: black;
}

.btns button, .logOUt {
    float: right;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    color: #DA1D1D;
}

.title {
    font-size: 30px;
}

.form-control {
    margin-bottom: 10px;
}

.btn:hover, .button:hover {
    background: black;
    color: white;
}

/*.join{*/
/*    text-align: left;*/
/*    font-size:15px;*/
/*    color:gray;*/
/*}*/
/*.button.is-sparta{*/
/*  border-radius:4px;*/
/*  width:45px;*/
#check {
    color: gray;
    font-size: 12px;
    height: 100%;
}

#check:hover {
    color: white;
}

/*index.html 스타일*/
.card-deck {
    /*margin: 30px 0px 0px 30px;*/
    display: block;
    margin-left: 5%;
}

.card {
    width: 350px!important;
    height: 460px!important;
    float: left;
    min-width: 230px;
    /*margin-bottom: 10px!important;*/
    margin: 0px 10px 10px 0px !important;
}

.card-img-top {
    padding-top: 5px;
    display: block;
    margin: auto;
    object-fit: cover;
    height: 260px;
}
.card-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.card-country {
    color: red;
    font-weight: bold;
}

.isotope-wrapper {
    margin: 0;
    height: 80px;
    position: relative;
    margin: 0px 0px 0px 70px!important;
    padding-left: 15%
}

.isotope-toolbar input[type="radio"] {
    display: none;
}

.isotope-toolbar span {
    text-transform: capitalize;
    display: inline-block;
    margin-right: 15px;
    padding-bottom: 3px;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}
.isotope-toolbar input[type="radio"]:checked + span {
    color: #DA1D1D;
    border-bottom: 2px solid #DA1D1D;
}

.isotope-toolbar {
    text-align: center;
    margin: 0px 70px 20px 0px;
}

.isotope-toolbar p {
    border-top: 1px solid #fff;
    padding-top: 15px;
}

.isotope-toolbar a {
    color: #fff;
}

.card-body {
    text-align: center;
}

/*이벤트 부분*/
.card-body2 {
    position: relative;
    text-align: center;
    padding: 5px;
}

.card-text2 {
    overflow-y: hidden;
    text-overflow: ellipsis;
    height: 142px;
    width: 320px;
    display: inline-block;
}

.card-title2 {
    height: 44px;
    width: 300px;
    font-weight: bold;
    overflow-y: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.card-text3, .card-text {
    height: 20px;
}

.button.scrap {
    margin-top: 0;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    border: 1px solid #B8B2B6;
}

.button.scrap:hover {
    background: black;
    color: white;
}